@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root{
    /* color */
    --text-color: #BDBDC4;
    --strong-color:#D2D2D9;
    --bg-color: #1C1C1C;
    --accent-strong:orchid;/*DA70D6*/
    --accent-light:lightslategrey;
    --highlight-blue: cornflowerblue;
    --highlight-green: forestgreen;
    --highlight-red: crimson;
    --highlight-yellow: gold;
    --faded-color:#383838;
    --white:#fcfcfc;
    /* font */
    --header-font: Bebas Neue;
    --text-font: Roboto Flex;
    /* img */
    --bg-image:url("assets/background-noise.png");
    --brig-idle:url("assets/idle_anim.avif");
    /* misc */
    --img-padding: 21px;
    --line-height: 24px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 1080px !important;
    max-width:100% !important;
    margin:auto;
    font-family: var(--text-font);
}

#bg-img{ /* hides "open image" pointer events from bg img */
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-image: var(--bg-image);
    pointer-events:none;
    z-index:-1;
}

article{
    line-height:var(--line-height);
    padding:0 21px;
}

/* headers */
h1,h2,h3,h4,h5,h6{
    font-family: var(--header-font);
    color:var(--strong-color);
    scroll-margin-top:14px;
}

h2,h3,h4,h5,h6{
    margin-bottom:1rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin:56px 0;
}

h2{
    text-align:center;
    font-size:2rem;
    padding-top:10px;
}

h3{
    font-size:1.75rem;
}

h4{
    font-size:1.5rem;
}

h5{
    font-size:1.35rem;
}

/* text */
p, li{
    font-family: var(--text-font);
}

p{
    box-sizing:border-box;
}

strong{
    color:var(--strong-color);
}

a{
    color:#4b99d1;
    text-decoration:none;
}

a:hover{
    color:#74a8d3 !important;
    text-decoration:underline;
}

.blue{
    color:var(--highlight-blue) !important;
}

.red{
    color:var(--highlight-red) !important;
}

/* images and figures*/
.float-left{
    float:left;
    margin-right:var(--img-padding);
}

.float-right{
    float:right;
    margin-left:var(--img-padding);
}

.float-left figcaption{
    text-align:left;
}

.float-right figcaption{
    text-align:right;
}

figcaption{
    color:var(--accent-light);
    font-size:0.84rem;
    font-style:italic;
    margin-top:-0.35rem;
}

.clear{
    clear:both;
    display:block;
}

hr{
    border:0;
    border-top:1px solid var(--faded-color);
    height:0px;
    margin:1rem 0;
}

#table-of-contents{
    display:flex;
    flex-direction:column;
    gap:1rem;
    border:0;
    border-top:1px solid var(--faded-color);
    border-bottom:1px solid var(--faded-color);
    margin:1rem 0;
    padding:1rem 0;
}

#table-of-contents p{
    margin:0;
}

.toc-header{
    font-weight:700;
    color:var(--accent-strong);
}

.toc-desc{
    font-style:italic;
    color:var(--accent-light);
}

/* hero card */
#brig-hero-card{
    position:relative;
    height:630px;
    border:1px solid var(--accent-strong);
    border-radius:0 70px;
    background-image:url("assets/bg.webp");
    background-position:center;
    /*pointer-events:none;*/
}

#brig-idle-anim{
    position:relative;
    width:100%;
    height:100%;
    background-image:var(--brig-idle);
    background-size:contain;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:bottom;
    overflow:hidden;
    pointer-events:none;
    z-index:2;
}

#brig-ability-table{
    position:absolute;
    top:35px;
    right:35px;
    display:flex;
    flex-direction:column;
    row-gap:10px;
    box-sizing:content-box;
    background:#000000b3;
    padding:10px 14px;
    border:1px solid #ffffff7d;
    border-radius:5px;
    pointer-events:auto;
    z-index:3;
}

.brig-ability-row{
    display:flex;
    flex-wrap:nowrap;
    column-gap:14px;
}

.ability-icon{
    position:relative;
    display:flex;
    width:4rem;
    height:4rem;
    align-items:center;
    justify-content:center;
    border:2px solid white;
    border-radius:50%;
    opacity:0.49;
    transition:opacity 0.432s ease;
    cursor:pointer;
}

.ability-icon::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white;
    border-radius:50%;
    opacity:0;
    transition:opacity 0.432s ease;
    pointer-events:none;
}

.ability-icon:hover::before{
    opacity:0.14;
}

.ability-icon:hover{
    opacity:1;
}

.ability-icon img{
    display:block;
    max-width:2.8rem;
    max-height:2.8rem;
    object-fit:cover;
}

.ability-tooltip{
    position:absolute;
    max-width:350px;
    height:auto;
    padding:10px;
    color:var(--text-color);
    background:#000000e8;
    border:1px solid #ffffff7d;
    border-radius:5px;
    pointer-events:none;
    transform:translate(-100%,-100%);
    z-index:3;
}

.tooltip-name{
    display:block;
    color:var(--highlight-blue);
    font-weight:700;
    font-size:1.2rem;
}

.tooltip-desc{
    display:block;
}

.ability-tooltip hr{
    margin:7px 0;
    border-style:dashed;
}

.tooltip-data-tbl{
    display:flex;
    flex-direction:column;
}

.tooltip-property{
    color:var(--highlight-blue);
    font-weight:700;
}

#brig-sig{
    position:absolute;
    bottom:0;
    left:42%;
    z-index:3;
    pointer-events:none;
}

#support-icon{
    display:flex;
    align-items:end;
    justify-content:center;
    position:absolute;
    top:7px;
    left:98px;
    width:182px;
    height:210px;
    background-image:linear-gradient(to top, #DA70D647, #00000000 70%);
    border-radius:0 0 50% 50%;
    z-index:1;
    opacity:0.56;
    pointer-events:none;
}

#support-icon img{
    max-height:70%;
    object-fit:cover;
    padding-bottom:14px;
}

/* tables */
.tbl{
    display:block;
    column-gap:10px;
    row-gap:10px;
    text-align:center;
    margin:auto;
}

.tbl.abbr{
    max-width:91%;
}

.tbl.nav{
    border:2px solid rgb(56,56,56);
    border-radius:14px;
    padding-bottom:10px;
    overflow:hidden;
}

.tbl-header{
    text-align:center;
    font-weight:700;
    margin:0 0 10px 0;
    padding:5px 0;
    background:rgb(56, 56, 56);
}

.tbl-row{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.tbl-column{
    display:flex;
    flex-direction:column;
}

.tbl video,
.tbl img{
    width:100%;
}

.hero-button{
    display:inline-block;
    width:56px;
    height:56px;
    border-width:2px;
    border-style:solid;
    border-radius:50%;
    border-color:var(--text-color);
    padding:2px;
    cursor:pointer;
}

.hero-button img{
    width:100%;
    height:100%;
    border-radius:50%;
    overflow:hidden;
}
/*
.hero-button.strong{
    border-color:var(--highlight-green);
}

.hero-button.neutral{
    border-color:var(--highlight-yellow);
}

.hero-button.weak{
    border-color:var(--highlight-red);
}
*/

/* map icons */
.map{
    display:block;
    position:relative;
    width:196px;
    height:140px;
}

.map .map-name{
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
    background:#000000b3;
    font-weight:700;
}

.map img{
    width:100%;
    height:100%;
    object-fit:cover;
    pointer-events:none;
}

/* callouts */
.callout{
    display:block;
    width:100%;
    height:100%;
    max-width:91vw;
    overflow:hidden;
    border-radius:5px;
    margin:auto;
}

.callout.callout-example{
    background-color:#2B303E;
    border:1px solid var(--highlight-blue);
}

.callout-title{
    color:#5c8ca4;
}

.callout-video{
    max-width:1280px;
    max-height:720px;
}

.callout-video video{
    width:100%;
    height:100%;
    object-fit:cover;
}

.callout-content{
    background:#000000b3;
    padding:0.5rem;
    margin:0.5rem;
    border-radius:5px;
}

li.checklist,
ul.checklist li{
    list-style-type:none;
}

li.checklist input,
ul.checklist li input{
    margin-left:-1.4em;
    margin-right:0.25rem;
    vertical-align:middle;
}