@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root{
    /* color */
    --text-color: #BDBDC4;
    --strong-color:#D2D2D9;
    --bg-color: #1C1C1C;
    --accent-strong:orchid;
    --accent-light:lightslategrey;
    --highlight-blue: cornflowerblue;
    --highlight-red: crimson;
    --highlight-yellow: gold;
    --faded-color:#383838;
    /* font */
    --header-font: Bebas Neue;
    --text-font: Roboto Flex;
    /* img */
    --bg-image: url("https://files.catbox.moe/uatdvn.png");
    /* misc */
    --img-padding: 21px;
    --line-height: 24px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 1080px !important;
    max-width:100% !important;
    margin:auto;
}

#bg-img{ /* hides "open image" pointer events from bg img */
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-image: var(--bg-image);
    pointer-events:none;
    z-index:-1;
}

article{
    line-height:var(--line-height);
}

/* headers */
h1,h2,h3,h4,h5,h6{
    font-family: var(--header-font);
    color:var(--strong-color);
}

h2,h3,h4,h5,h6{
    margin-bottom:1rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin:56px 0;
}

h2{
    text-align:center;
    font-size:2rem;
}

h3{
    font-size:1.75rem;
}

h4{
    font-size:1.5rem;
}

h5{
    font-size:1.35rem;
}

/* text */
p, li{
    font-family: var(--text-font);
}

p{
    box-sizing:border-box;
}

strong{
    color:var(--strong-color);
}

/* images and figures*/
.float-left{
    float:left;
    margin-right:var(--img-padding);
}

.float-right{
    float:right;
    margin-left:var(--img-padding);
}

.float-left figcaption{
    text-align:left;
}

.float-right figcaption{
    text-align:right;
}

figcaption{
    color:var(--accent-light);
    font-size:0.84rem;
    margin-top:-0.35rem;
}

.clear{
    clear:both;
    display:block;
}

hr{
    border:0;
    border-top:1px solid var(--faded-color);
    height:0px;
    margin:1rem 0;
}

#table-of-contents{
    display:flex;
    flex-direction:column;
    gap:1rem;
    border:0;
    border-top:1px solid var(--faded-color);
    border-bottom:1px solid var(--faded-color);
    margin:1rem 0;
    padding:1rem 0;
}

#table-of-contents p{
    margin:0;
}

.toc-header{
    font-weight:700;
    color:var(--accent-strong);
}

.toc-desc{
    font-style:italic;
    color:var(--accent-light);
}